$background-color: #ffffff;
$primary-color: #ff3333;
$sub-color: #009933;

body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}

/* navigation */

nav {
  background-color: $background-color;
  opacity: 0.9;

  .glyphicon {
    color: $primary-color;
    padding-right: 8px;
  }
}

/* general styling */

header {
  background-color: $primary-color;
  font-family: 'Roboto Slab', serif;
  padding: 40px;
  text-align: center;

  img {
    border: 3px solid $background-color;
    border-radius: 50px;
    margin-top: 17px;
    width: 100px;
  }
}

h2 {
  color: $sub-color;
  font-weight: bold;
  margin-top: 0px;
}

#portfolio {
  margin-top: 20px;

  h2 {
    margin-top: 10px;
  }

  h4 {
    color: $sub-color;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
  }
}

.thumbnail {
  border: none;
}

#about p {
  text-align: left;
}

#connect a {
  border-radius: 30px;
}

footer p {
  text-align: center;
}

/* horizontal rule with heart */

hr {
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

hr:after {
  background: $background-color;
	color: $primary-color;
  content: '\2665';
  padding: 0 10px;
	position: relative;
	top: -15px;
}

/* contact link logos */

.contact-logo {
  background: 20px no-repeat;
  background-size: 25px;
}

.github {
  background-image: url("../images/contact-logos/github.png");
}

.linkedin {
  background-image: url("../images/contact-logos/linkedin.png");
}

.twitter {
  background-image: url("../images/contact-logos/twitter.png");
}

/* form styling */

.form-control {
    margin-bottom: 10px;
}
